In [1]:
import requests
from bs4 import BeautifulSoup
import re
import shutil
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from datetime import datetime
import time
import csv
import os
import pickle
from IPython.display import display, HTML
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_error as MAE
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error as MSE
from sklearn.metrics import mean_absolute_error as MAE
from sklearn.linear_model import Ridge
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import export_graphviz
import graphviz
from sklearn.neighbors import KNeighborsRegressor

!pip install keras==2.12.0

import tensorflow as tf

Requirement already satisfied: keras==2.12.0 in /usr/local/lib/python3.10/dist-packages (2.12.0)

In [2]:
# !pip uninstall tensorflow
# !pip install tensorflow==2.12.0

from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import ModelCheckpoint
from tensorflow.keras.layers import Dense, Activation, Flatten
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from tensorflow.keras.wrappers.scikit_learn import KerasRegressor # There is also a KerasClassifier class
from sklearn.model_selection import RandomizedSearchCV, KFold
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV

!pip install openpyxl
import openpyxl
print("Library versions: pandas", pd.__version__," numpy", np.__version__," seaborn", sns.__version__)

Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (2.0.0)
Library versions: pandas 2.2.2  numpy 1.23.5  seaborn 0.13.2

In [14]:
def download_data():
    URL = 'https://fossilfreefunds.org/how-it-works'
    page = requests.get(URL)
    soup = BeautifulSoup(page.content, 'html.parser')

    urls = []
    names = []
    for i, link in enumerate(soup.findAll('a')):
        FULLURL = link.get('href')

        if bool(re.search('.*results.*.xlsx', str(FULLURL))):
            urls.append(FULLURL)
            names.append(os.path.basename(soup.select('a')[i].attrs['href']))

    names_urls = zip(names, urls)
    for name, url in names_urls:
        print("Download file: "+name)
        r = requests.get(url, verify=False,stream=True)
        r.raw.decode_content = True
        with open("/content/data" + name, 'wb') as out:
                shutil.copyfileobj(r.raw, out)

def merge_excel():
    df = pd.DataFrame()
    files=os.listdir('data')
    files_xls = [f for f in files if f[-4:]=='xlsx']

    for f in files_xls:
        if not re.match(r".*20210[5-9]+.*", f):
            print('Merging file: '+f)
            data = pd.read_excel('data/'+f, 'Shareclasses',engine='openpyxl')
            df = df.append(data)
    df.to_csv('/content/data/fossilfund_dataset.csv', index=False)
    print('Export to data/fossilfund_dataset.csv is finished')

download_data()
merge_excel()

Export to data/fossilfund_dataset.csv is finished

In [15]:
df = pd.read_csv('/content/data/fossilfund_dataset.csv')

<ipython-input-15-c21305b81df0>:1: DtypeWarning: Columns (94) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/data/fossilfund_dataset.csv')

In [16]:
print("Total no. of columns in the dataframe", len(df.columns))
print("No. of columns containing null values", len(df.columns[df.isna().any()]))

print("No. of columns not containing null values", len(df.columns[df.notna().all()]))
print("No. of numerical columns ", len(df.select_dtypes(np.number).columns))

print("Total no. of rows in the dataframe", len(df))

Total no. of columns in the dataframe 121
No. of columns containing null values 42
No. of columns not containing null values 79
No. of numerical columns  101
Total no. of rows in the dataframe 110510

In [17]:
df.info(max_cols=200)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110510 entries, 0 to 110509
Data columns (total 121 columns):
 #    Column                                                                                                          Non-Null Count   Dtype
---   ------                                                                                                          --------------   -----
 0    Fund profile: Shareclass name                                                                                   110510 non-null  object
 1    Fund profile: Ticker                                                                                            108086 non-null  object
 2    Fund profile: Fund name                                                                                         110510 non-null  object
 3    Fund profile: Asset manager                                                                                     110510 non-null  object
 4    Fund profile: Shareclass type                                                                                   110510 non-null  object
 5    Fund profile: Shareclass inception date                                                                         110510 non-null  object
 6    Fund profile: Category group                                                                                    110510 non-null  object
 7    Fund profile: Sustainability mandate                                                                            22803 non-null   object
 8    Fund profile: US-SIF member                                                                                     1707 non-null    object
 9    Fund profile: Oldest shareclass inception date                                                                  110510 non-null  object
 10   Fund profile: Shareclass tickers                                                                                108403 non-null  object
 11   Fund profile: Portfolio holdings as-of date                                                                     110510 non-null  object
 12   Fund profile: Fund net assets                                                                                   110510 non-null  int64
 13   Fund profile: Percent rated                                                                                     110510 non-null  float64
 14   Fossil Free Funds: Fossil fuel grade                                                                            110505 non-null  object
 15   Fossil Free Funds: Fossil fuel holdings, count                                                                  110510 non-null  int64
 16   Fossil Free Funds: Fossil fuel holdings, weight                                                                 110510 non-null  float64
 17   Fossil Free Funds: Fossil fuel holdings, asset                                                                  110510 non-null  int64
 18   Fossil Free Funds: Carbon Underground 200, count                                                                110510 non-null  int64
 19   Fossil Free Funds: Carbon Underground 200, weight                                                               110510 non-null  float64
 20   Fossil Free Funds: Carbon Underground 200, asset                                                                110510 non-null  int64
 21   Fossil Free Funds: Coal industry, count                                                                         110510 non-null  int64
 22   Fossil Free Funds: Coal industry, weight                                                                        110510 non-null  float64
 23   Fossil Free Funds: Coal industry, asset                                                                         110510 non-null  int64
 24   Fossil Free Funds: Oil / gas industry, count                                                                    110510 non-null  int64
 25   Fossil Free Funds: Oil / gas industry, weight                                                                   110510 non-null  float64
 26   Fossil Free Funds: Oil / gas industry, asset                                                                    110510 non-null  int64
 27   Fossil Free Funds: Macroclimate 30 coal-fired utilities, count                                                  110510 non-null  int64
 28   Fossil Free Funds: Macroclimate 30 coal-fired utilities, weight                                                 110510 non-null  float64
 29   Fossil Free Funds: Macroclimate 30 coal-fired utilities, asset                                                  110510 non-null  int64
 30   Fossil Free Funds: Fossil-fired utilities, count                                                                110510 non-null  int64
 31   Fossil Free Funds: Fossil-fired utilities, weight                                                               110510 non-null  float64
 32   Fossil Free Funds: Fossil-fired utilities, asset                                                                110510 non-null  int64
 33   Fossil Free Funds: Relative carbon footprint (tonnes CO2 / $1M USD invested)                                    110510 non-null  float64
 34   Fossil Free Funds: Relative carbon intensity (tonnes CO2 / $1M USD revenue)                                     110510 non-null  float64
 35   Fossil Free Funds: Total financed emissions scope 1 + 2 (tCO2e)                                                 110510 non-null  float64
 36   Fossil Free Funds: Total financed emissions scope 1 + 2 + 3 (tCO2e)                                             110510 non-null  float64
 37   Fossil Free Funds: Carbon footprint portfolio coverage by market value weight                                   110510 non-null  float64
 38   Fossil Free Funds: Carbon footprint portfolio coverage by number of disclosing titles                           110510 non-null  float64
 39   Fossil Free Funds: Clean200, count                                                                              110510 non-null  int64
 40   Fossil Free Funds: Clean200, weight                                                                             110510 non-null  float64
 41   Fossil Free Funds: Clean200, asset                                                                              110510 non-null  int64
 42   Deforestation Free Funds: Deforestation grade                                                                   110510 non-null  object
 43   Deforestation Free Funds: Deforestation-risk producer, count                                                    110510 non-null  int64
 44   Deforestation Free Funds: Deforestation-risk producer, weight                                                   110510 non-null  float64
 45   Deforestation Free Funds: Deforestation-risk producer, asset                                                    110510 non-null  int64
 46   Deforestation Free Funds: Deforestation-risk financier, count                                                   110510 non-null  int64
 47   Deforestation Free Funds: Deforestation-risk financier, weight                                                  110510 non-null  float64
 48   Deforestation Free Funds: Deforestation-risk financier, asset                                                   110510 non-null  int64
 49   Deforestation Free Funds: Deforestation-risk consumer brand, count                                              110510 non-null  int64
 50   Deforestation Free Funds: Deforestation-risk consumer brand, weight                                             110510 non-null  float64
 51   Deforestation Free Funds: Deforestation-risk consumer brand, asset                                              110510 non-null  int64
 52   Gender Equality Funds: Gender equality grade                                                                    106250 non-null  object
 53   Gender Equality Funds: Gender equality group ranking                                                            107248 non-null  float64
 54   Gender Equality Funds: Gender equality score (out of 100 points)                                                55648 non-null   float64
 55   Gender Equality Funds: Gender equality score, gender balance (out of 100 points)                                55648 non-null   float64
 56   Gender Equality Funds: Gender equality score, gender policies (out of 100 points)                               55648 non-null   float64
 57   Gender Equality Funds: Count of holdings with Equileap gender equality scores                                   110510 non-null  int64
 58   Gender Equality Funds: Weight of holdings with Equileap gender equality scores                                  110510 non-null  float64
 59   Gun Free Funds: Civilian firearm grade                                                                          110510 non-null  object
 60   Gun Free Funds: Civilian firearm, count                                                                         110510 non-null  int64
 61   Gun Free Funds: Civilian firearm, weight                                                                        110510 non-null  float64
 62   Gun Free Funds: Civilian firearm, asset                                                                         110510 non-null  int64
 63   Gun Free Funds: Gun manufacturer, count                                                                         110510 non-null  int64
 64   Gun Free Funds: Gun manufacturer, weight                                                                        110510 non-null  float64
 65   Gun Free Funds: Gun manufacturer, asset                                                                         110510 non-null  int64
 66   Gun Free Funds: Gun retailer, count                                                                             110510 non-null  int64
 67   Gun Free Funds: Gun retailer, weight                                                                            110510 non-null  float64
 68   Gun Free Funds: Gun retailer, asset                                                                             110510 non-null  int64
 69   Weapon Free Funds: Military weapon grade                                                                        110510 non-null  object
 70   Weapon Free Funds: Military weapon, count                                                                       110510 non-null  int64
 71   Weapon Free Funds: Military weapon, weight                                                                      110510 non-null  float64
 72   Weapon Free Funds: Military weapon, asset                                                                       110510 non-null  int64
 73   Weapon Free Funds: Major military contractors, count                                                            110510 non-null  int64
 74   Weapon Free Funds: Major military contractors, weight                                                           110510 non-null  float64
 75   Weapon Free Funds: Major military contractors, asset                                                            110510 non-null  int64
 76   Weapon Free Funds: Nuclear weapons, count                                                                       110510 non-null  int64
 77   Weapon Free Funds: Nuclear weapons, weight                                                                      110510 non-null  float64
 78   Weapon Free Funds: Nuclear weapons, asset                                                                       110510 non-null  int64
 79   Weapon Free Funds: Cluster munitions / landmines, count                                                         110510 non-null  int64
 80   Weapon Free Funds: Cluster munitions / landmines, weight                                                        110510 non-null  float64
 81   Weapon Free Funds: Cluster munitions / landmines, asset                                                         110510 non-null  int64
 82   Tobacco Free Funds: Tobacco grade                                                                               110510 non-null  object
 83   Tobacco Free Funds: Tobacco producer, count                                                                     110510 non-null  int64
 84   Tobacco Free Funds: Tobacco producer, weight                                                                    110510 non-null  float64
 85   Tobacco Free Funds: Tobacco producer, asset                                                                     110510 non-null  int64
 86   Tobacco Free Funds: Tobacco-promoting entertainment company, count                                              110510 non-null  int64
 87   Tobacco Free Funds: Tobacco-promoting entertainment company, weight                                             110510 non-null  float64
 88   Tobacco Free Funds: Tobacco-promoting entertainment company, asset                                              110510 non-null  int64
 89   Financial performance: Financial performance as-of date                                                         110504 non-null  object
 90   Financial performance: Month end trailing returns, year 1                                                       108367 non-null  float64
 91   Financial performance: Month end trailing returns, year 3                                                       103448 non-null  float64
 92   Financial performance: Month end trailing returns, year 5                                                       96542 non-null   float64
 93   Financial performance: Month end trailing returns, year 10                                                      81748 non-null   float64
 94   Prison Free Funds: Prison industrial complex grade                                                              73327 non-null   object
 95   Prison Free Funds: All flagged, count                                                                           73327 non-null   float64
 96   Prison Free Funds: All flagged, weight                                                                          73327 non-null   float64
 97   Prison Free Funds: All flagged, asset                                                                           73327 non-null   float64
 98   Prison Free Funds: Prison industry, count                                                                       73327 non-null   float64
 99   Prison Free Funds: Prison industry, weight                                                                      73327 non-null   float64
 100  Prison Free Funds: Prison industry, asset                                                                       73327 non-null   float64
 101  Prison Free Funds: Border industry, count                                                                       73327 non-null   float64
 102  Prison Free Funds: Border industry, weight                                                                      73327 non-null   float64
 103  Prison Free Funds: Border industry, asset                                                                       73327 non-null   float64
 104  Prison Free Funds: All flagged, higher risk, count                                                              73327 non-null   float64
 105  Prison Free Funds: All flagged, higher risk, weight                                                             73327 non-null   float64
 106  Prison Free Funds: All flagged, higher risk, asset                                                              73327 non-null   float64
 107  Prison Free Funds: Prison industry, higher risk, count                                                          73327 non-null   float64
 108  Prison Free Funds: Prison industry, higher risk, weight                                                         73327 non-null   float64
 109  Prison Free Funds: Prison industry, higher risk, asset                                                          73327 non-null   float64
 110  Prison Free Funds: Border industry, higher risk, count                                                          73327 non-null   float64
 111  Prison Free Funds: Border industry, higher risk, weight                                                         73327 non-null   float64
 112  Prison Free Funds: Border industry, higher risk, asset                                                          73327 non-null   float64
 113  Prison Free Funds: Private prison operators, count                                                              73327 non-null   float64
 114  Prison Free Funds: Private prison operators, weight                                                             73327 non-null   float64
 115  Prison Free Funds: Private prison operators, asset                                                              73327 non-null   float64
 116  Gender Equality Funds: Gender equality score - Overall score (out of 100 points)                                54602 non-null   float64
 117  Gender Equality Funds: Gender equality score - Gender balance in leadership and workforce (out of 40 points)    54602 non-null   float64
 118  Gender Equality Funds: Gender equality score - Equal compensation and work life balance (out of 30 points)      54602 non-null   float64
 119  Gender Equality Funds: Gender equality score - Policies promoting gender equality (out of 20 points)            54602 non-null   float64
 120  Gender Equality Funds: Gender equality score - Commitment, transparency, and accountability (out of 10 points)  54602 non-null   float64
dtypes: float64(61), int64(40), object(20)
memory usage: 102.0+ MB

### Converting date-time

In [18]:
date_cols=df.filter(regex=" date.*",axis=1).columns
df[date_cols]=df[date_cols].apply(pd.to_datetime, errors='coerce')
df[date_cols]

,Fund profile: Shareclass inception date,Fund profile: Oldest shareclass inception date,Fund profile: Portfolio holdings as-of date,Financial performance: Financial performance as-of date
0,2014-11-12,2014-11-12,2020-01-31,2020-03-31
1,2014-11-12,2014-11-12,2020-01-31,2020-03-31
2,2014-11-12,2014-11-12,2020-01-31,2020-03-31
3,2014-11-12,2014-11-12,2020-01-31,2020-03-31
4,2011-12-28,2011-12-28,2019-12-31,2020-03-31
...,...,...,...,...
110505,2018-12-04,2018-12-04,2021-02-28,2021-02-28
110506,2018-09-05,2018-09-05,2021-02-28,2021-02-28
110507,2018-12-04,2018-12-04,2021-02-28,2021-02-28
110508,2019-03-06,2019-03-06,2021-02-28,2021-02-28
110509,2019-06-25,2019-06-25,2021-02-28,2021-02-28

In [19]:
# These are the numerical features per category

origin_categories=["Fund profile","Fossil Free Funds", "Deforestation Free Funds", "Gender Equality Funds", "Gun Free Funds", "Prison Free Funds", "Weapon Free Funds", "Tobacco Free Funds", "Financial performance"]
for category in origin_categories:
    print("Distribution of numerical features for category: "+category)
    display(HTML(df.filter(regex=category+".*",axis=1).describe().to_html()))
    print("\n\n")

Distribution of numerical features for category: Fund profile

Distribution of numerical features for category: Fossil Free Funds

Distribution of numerical features for category: Deforestation Free Funds

Distribution of numerical features for category: Gender Equality Funds

Distribution of numerical features for category: Gun Free Funds

Distribution of numerical features for category: Prison Free Funds

Distribution of numerical features for category: Weapon Free Funds

Distribution of numerical features for category: Tobacco Free Funds

Distribution of numerical features for category: Financial performance

Now we need to check for data completeness and more